{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load txcommontags %}

{% block body_class %}index{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content_title %}
  <h2 class="pagetitle">{% trans "Welcome to Transifex" %}</h2>
{% endblock %}

{% block content_main %}


<div id="intro" class="grid_8">
  <p class="promo">{% trans "Transifex is a service aimed at helping translators keep track of their favorite translation projects." %}</p>
  <span id="ip-bottom-quote"></span>
  {% url project_list as project_list %}
  <div id="top_lists">{% include "projects/project_latests.html" %}

  <p class="browse-projects">{% blocktrans %}You could also browse through <a href="{{ project_list }}">all projects</a>.{% endblocktrans %}</p>

  </div>
</div>
{% if not request.user.is_authenticated %}
<div id="login_index" class="grid_3">
  <div>
  {% include "simpleauth/login_box.html" %}
  </div>
</div>
{% endif %}
<div id="clear"></div>
{% endblock %}
